.newlinkcamp{
    text-decoration: none;
}
.all-camp{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    
}
/* .new-camp-btn{
    display: block;
    margin-top: 10px;
    transform: translate(832px,10px);

} */

.navyybar{
    font-family: 'Montserrat', sans-serif;
}
.font-cust{
    font-family: 'Roboto', sans-serif;
}


